.atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}

.atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
}

.atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
}

.atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
}

.atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
}


.twooter {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin: 5px;
}

body {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 40rem;
}

.upper-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.action-button {
    width: 35px;
    height: 35px;
    transition: transform 0.2s ease;
}

.action-button:hover {
    transform: scale(1.1);
}

.twoots-container {
    display: grid;
    gap: 16px;
}

.twoot {
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.twoot-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twoot-update a {
    transition: transform 0.2s ease;
}

.twoot-update a:hover {
    transform: scale(1.2);
}

.twoot-pfp {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.twoot-foot {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border-style: none;
    text-decoration: underline;
}

.submit-button:hover {
    transform: scale(1.2);
}

.github {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.github:hover {
    transform: scale(1.2);
}

.twoot-content {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    border: none;
    resize: none;
    width: 100%;
    min-width: 0%;
    height: fit-content;
    box-sizing: border-box;

}

.twoot-content:focus {
    outline: none;
}

.twoot-content-display {
    max-width: 100%;
    min-width: 0;
}

.twoot-content-display pre {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.name-box {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    border: none;
}

.name-box:focus {
    outline: none;
}