.atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}

.atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
}

.atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
}

.atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
}

.atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
}


.twooter {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin: 5px;
}

body {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 40em;
}

.upper-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.upper-container img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
}

.upper-container img:hover {
    transform: scale(1.1);
}

.twoots-container {
    display: grid;
    gap: 16px;
}

.twoot {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.twoot-head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.twoot-pfp {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.twoot-foot {
    display: flex;
    justify-content: space-between;
}