{% extends 'base.html' %}

{% block head %}
<title>twoo:3r | Home</title>
{% endblock %}

{% block body %}
<h2>Admin</h2>
<div class="main-container">
    <div style="display: flex; justify-content: center;">
        <img class="twoot-pfp" src="/static/images/pic-1.jpeg" style="width: auto; height: 180px;">
    </div>
    <p style="text-align: center;">Edit and delete twoots</p>
    <div class="twoots-container">
        {% if twoots|length < 1 %} <h2 style="text-align: center;">No twoots</h2>
            {% else %}
            {% for twoot in twoots %}
            <div class="twoot">
                <div class="twoot-head">
                    <div class="twoot-profile" style="display: flex; align-items: center; gap: 10px;">
                        {% if twoot.user == "Fuma" %}
                        <img class="twoot-pfp" src="/static/images/fuma-pfp.jpeg">
                        {% elif twoot.user == "Vyn" %}
                        <img class="twoot-pfp" src="/static/images/vyn-pfp.jpg">
                        {% else %}
                        <img class="twoot-pfp" src="/static/images/default-pfp.jpg">
                        {% endif %}
                        <h4 class="twoot-user">{{twoot.user}}</h4>
                    </div>
                    <div class="twoot-update" style="display: flex; align-items: center; gap: 10px;">
                        <a href="/edit/{{twoot.id}}" style="text-decoration: none; color: black;">Edit</a>
                        <a href="/delete/{{twoot.id}}" style="text-decoration: none; color: black;">Delete</a>
                    </div>
                </div>
                <div class="twoot-content-display">
                    <pre>{{twoot.content}}</pre>
                </div>
                <div class="twoot-foot">
                    {% if twoot.is_edited == True %}
                    <p class="twoot-id">Id: {{twoot.id}} (edited)</p>
                    {% else %}
                    <p class="twoot-id">Id: {{twoot.id}}</p>
                    {% endif %}
                    <p class="twoot-date-created">{{twoot.date_created.date()}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
    </div>
</div>
{% endblock %}