{% extends 'base.html' %}

{% block head %}
<title>twoo:3r | Edit</title>
{% endblock %}

{% block body %}
<h2>Edit</h2>
<div class="main-container">
    <div class="twoot">
        <div class="twoot-head">
            <div class="twoot-profile" style="display: flex; align-items: center; gap: 10px;">
                {% if twoot.user == "Fuma" %}
                <img class="twoot-pfp" src="/static/images/fuma-pfp.jpeg">
                {% elif twoot.user == "Vyn" %}
                <img class="twoot-pfp" src="/static/images/vyn-pfp.jpg">
                {% elif twoot.user == "Mafu" %}
                <img class="twoot-pfp" src="/static/images/mafu-pfp.jpg">
                {% else %}
                <img class="twoot-pfp" src="/static/images/default-pfp.jpg">
                {% endif %}
                <h4 class="twoot-user">{{twoot.user}}</h4>
            </div>
            <p></p>
        </div>
        <form action="/edit/{{twoot.id}}" method="POST">
            <div>
                <textarea name="content" class="twoot-content" rows="5" maxlength="320"
                    placeholder="Type something here..." required>{{twoot.content}}</textarea>
            </div>
            <div class="twoot-foot">
                <p></p>
                <input type="submit" value="Done" class="submit-button">
            </div>
        </form>
    </div>
</div>
{% endblock %}