{% extends 'base.html' %}

{% block head %}
<title>twoo:3r | Post</title>
{% endblock %}

{% block body %}
<h2>Post</h2>
<div class="main-container">
    <div class="twoot">
        <div class="twoot-head">
            <div class="twoot-profile" style="display: flex; align-items: center; gap: 10px;">
                {% if user == "Fuma" %}
                <img class="twoot-pfp" src="/static/images/fuma-pfp.jpeg">
                {% elif user == "Vyn" %}
                <img class="twoot-pfp" src="/static/images/vyn-pfp.jpg">
                {% elif user == "Mafu" %}
                <img class="twoot-pfp" src="/static/images/mafu-pfp.jpg">
                {% else %}
                <img class="twoot-pfp" src="/static/images/default-pfp.jpg">
                {% endif %}
                <h4 class="twoot-user">{{user}}</h4>
            </div>
            <p></p>
        </div>
        <form action="/twoot/upload" method="POST" enctype="multipart/form-data">
            <div>
                <textarea name="content" class="twoot-content" rows="5" maxlength="320"
                    placeholder="Type something here..." required></textarea>
            </div>
            <div id="imagePreview">
                <!-- Nothing here yet -->
            </div>
            <div class="twoot-foot">
                <div style="display: flex; align-items: center; gap: 8px;">

                    <input type="file" name="image" id="image" accept=".png, .jpg, .jpeg, .gif" style="display: none;"
                        onchange="showFileName(this)">
                    <label for="image" style="margin-top: 6px;"><img src="/static/images/image-icon.png"
                            alt="Attach image" class="action-button"></label>
                    <span id="fileName"></span>

                    <input type="button" onclick="clearSelection()" value="Clear" id="clearButton"
                        style="display: none;">
                    <label for="clearButton" class="submit-button" id="clearButtonLabel"></label>

                </div>
                <input type="submit" value="twoot" class="submit-button">
            </div>
        </form>
    </div>
</div>
{% endblock %}